* {
    box-sizing: border-box;
  }

.head-container {  
    width: 42.349%;
    max-width: 980px;
    margin: 0 auto;
}
  
.head {
    padding-right: 2.8571429%;
    height: 12vw;
}

.row {
    clear: both;
    padding-top: 1vw;
}

.col {
    float: left;
    margin-left: 2.8571429%;
    width: 11.4285714%;
    height: 3vw;
}

.col.span1 {
    width: 94.2857143%;
}

.col.span2 {
    width: 14.2857143%;
}

.col.span3 {
    width: 32.8571429%;
}

.col.span4 {
    width: 22.8571429%;
}

.col.span5 {
    width: 8.5714286%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: right;
    padding: 0;
    margin:0;
}

img {
    border-radius: 30px;
    border: solid 1px black;
}

input {
    font-size: 1.75vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: white;
    border-radius: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 3vw auto;
    width: 50%;

}

.do {
    margin-top: 1vh;
    border: solid 1px black;
    flex: 5vw;
    background-color: white;
    border-radius: 25px;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
}

.coldo {
    margin: auto 0 auto 2%;
    font-size: 1.2vw;
}

.coldo.col1{
    width: 7%;
    height: 2vw;
}

.coldo.col2{
    width: 66%;
}

.coldo.col3{
    width: 11%;
}

.coldo.col4{
    width: 6%;
    background-color: #e03838;
}   


